:root{
    --colorA:#022029;
    --colorB:#032E3B;
    --colorC:#00BCF5;
    --Black:#000000;
    --White:#fff;
}
.navBar{
    background: var(--colorB);
    
}
.logo{
    padding-left:2vw;
}
.container{
    display:flex;
    height: 8vh;
    align-items: center;
}
   

.logo>img,.menu>img {
    height: 25px;
}
.dropMenu{
    background: linear-gradient(var(--colorB)1%,var(--Black)1% ,var(--colorB)4%);
    width: 99.8vw;
    position: fixed;
    margin-top: 8vh;
    display: flex;
    z-index: 1000000;

}
.dropMenu>ul>li{
    padding: .35em;
    margin-left: 1em;
    color: #fff;

}
.dropMenu>ul>li>a{
    color: var(--White);
    font-size: 18px;
}
.parentDiv{
    margin-top: 7.9vh;
    background: linear-gradient(-45deg, var(--colorB) 67%, var(--Black) 10%, var(--colorC)71%);
}
.rotateText>span{
    position: absolute;
    top: -20%;
    width: 60vw;
    right: 1%;
    text-align: right;
    font-size: 32px;
}

.middleBar{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.sliderContainer{
    display: flex;
    width: 100vw;
    overflow: hidden;
    padding: 1em;
    background: var(--Black);
 }
 .sliders>img{
    position: relative;
    height: 240px;
    width: 300px;
    border-bottom-right-radius:150px;
    transition: 1s;
}
.sliders{
    background: var(--colorA);
    margin:  0 1% 0 1%;
    height: 60vh;
    width: 22.5vw;
}
.sliders span{
    margin-top: 21%;
}
.sliders p,span{
    position: absolute;
    margin-top: 19%;
    color:var(--White);
    width: 20vw;
    text-align: center;
}

.cornerBox{
    margin: -10px;
    width: 100px;
    height: 100px;
    background:transparent;
    z-index: 1000;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.cornerBox:before{
    content: 'CONTENT';
    position: absolute;
    text-align: center;
    padding: 7px;
    width: 150%;
    height: 40px;
    color: #fff;
    font-weight: 600;
    background: #df7701;
    transform: rotate(-45deg) translateY(-20px);
    overflow: hidden;
}
.cornerBox::after{
    content: '';
    width: 10px;
    height: 10px;
    background: #8d4b00;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow:90px -90px #8d4b00 ;
}


.sliders:hover img{
    height: 60vh;
    border-bottom-right-radius: 60px;
}


.endBarTop,.endBarBottom{
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
}
.endBarTop>.card:hover,.endBarBottom>.card:hover{
    background: var(--colorC);
    color: var(--Black);
    
}
.endBar .card{
    background: var(--colorA);
    color: var(--White);
    width: 350px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin: 5px;
    border-radius: 30px;
}
.endBar{
    background: #000000;
}
.footerContainer{
    background: var(--colorA);

}
li{
    list-style-type:none;
}
.ktanay{
    background: var(--colorA);
    border-radius: 100px;
  
}


/*Mobile device 860px*/
@media (max-width:860px) {
    .parentDiv{
        display: none;
    }
    .sliders{
        margin-top: 2vh;
    }
    .slideBar:nth-child(2)>h1{
        position: absolute;
        top:25px;
        right:3%;
        width:65%;
        color: var(--colorA);
        text-align: right;
        font-size: 2vh;
    }
    .sliderContainer{
        display: block;
    }
    .sliders>img,p,span,.sliders{
        width: 85vw;
    }
    .sliders>img{
        border-bottom-right-radius: 40px;
    }
    .sliders>span{
        display: none;
    }
    .sliders>p{
        margin-top: 50vh;
        width: 85vw;
        
    }
    .endBarTop,.endBarBottom{
        display:block;
    }
    .endBar .card{
        width: 85vw;
        
    }
    .endBar{
        padding-left: 2.8vw;
        text-align: center;
        
    }
    .footerBar{
        display: block;
        
    }
    
}